main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - 2rem);
  max-width: 40rem;
  height: calc(100vh - 2rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
}
